extends /main.pug

include ../forms/task-data-form.pug

block content
  - const fullEditPermission = true
  h2.text-center.mt-4= pageTitle
  +taskForm('post', getNamedURL('tasksIndex'))
    .row
      .col-12.col-md-9.col-lg-10.ml-auto
        button.btn.btn-primary.btn-block(type='submit') Создать задачу
