extends /main.pug

include ../forms/user-data-form.pug

block content
  h2.text-center.mt-4= pageTitle
  +userForm('post', getNamedURL('user', { id: resourceInstance.id }, { query: { _method: 'patch' } }))
    if isEditableForm
      .row
        .col-12.col-md-9.col-lg-10.ml-auto
          .row.justify-content-around
            .col-12.col-md-5.mb-1
              button.btn.btn-primary.btn-block(type='submit') Обновить профиль
            .col-12.col-md-5.mb-1
              button.btn.btn-danger.btn-block(type='submit', formaction=getNamedURL('user', { id: resourceInstance.id }, { query: { _method: 'delete' } })) Удалить профиль
