extends /main.pug

include ../forms/user-data-form.pug

block content
  - const editPermission = true
  h2.text-center.mt-4= pageTitle
  +userForm('post', getNamedURL('usersIndex'))
    .row
      .col-12.col-md-9.col-lg-10.ml-auto
        button.btn.btn-primary.btn-block(type='submit') Зарегистрироваться
