extends /main.pug

block content
  .restore-message.mx-auto.mt-5.w-75
    h2.text-center= pageTitle
    p.text-center Аккаунт пользователя с email: '#{restorableUser.email}' ранее был удален, однако, вы можете его восстановить. Восстанавливаем?
    form(method='post', action=getNamedURL('usersRestore', { id: restorableUser.id }, { query: { _method: 'patch' } }))
      .d-flex.justify-content-around
        button.btn.btn-primary(type='submit') Восстановить
        a.btn.btn-danger(href=getNamedURL('index'), role='button') Отказаться
